@font-face {
    font-family: casual;
    src: url(../css/fonts/casual.ttf) format(truetype);
    font-style: normal;
font-size:larger;
letter-spacing: 10cm;
}
@font-face {
    font-family: paint;
    src: url(../css/fonts/paint.ttf) format(truetype);
    font-style: normal;
font-size:larger;
letter-spacing: 10cm;
}
@font-face {
    font-family: paint2;
    src: url(../css/fonts/paint2.TTF) format(truetype);
    font-style: normal;
font-size:larger;
letter-spacing: 10cm;
}
@font-face {
    font-family: pencil;
    src: url(../css/fonts/pencil.ttf) format(truetype);
    font-style: normal;
font-size:larger;
letter-spacing: 10cm;
}
@font-face {
    font-family: main;
    src: url(../css/fonts/main.ttf) format(truetype);
    font-style: normal;
font-size:larger;
letter-spacing: 10cm;
}
@font-face {
    font-family: cool;
    src: url(../css/fonts/cool.ttf) format(truetype);
    font-style: normal;
font-size:larger;
letter-spacing: 10cm;
}
@font-face {
    font-family: outline;
    src: url(../css/fonts/outline.ttf) format(truetype);
    font-style: normal;
font-size:larger;
letter-spacing: 10cm;
}